.card {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: linear-gradient(to right, #691b31, #a02142);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: bold;
  cursor: default;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.card-img-top.vertigo-effect {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card-img-top.vertigo-effect:hover {
  transform: scale(1.04);
  border: 2px solid #b38e5d;
}